.keyboard {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(132, 136, 132);
  border-radius: 3px;
}

.keyboard > .key {
  margin: 0.1rem;
  line-height: 2rem;
  border-radius: 3px;
  background-color: white;
}

.keyboard > .key:hover {
  background-color: #DEDEDE;
}

.keyboard > .key.used {
  background-color: grey;
  color: darkgrey;
}
